#imagenesProducto li{
	float: left;
	margin: 2px;
	padding: 3px;
}


.precio{
	color: #8C1919;
	font-weight: bolder;
}

.caja{
	border: 1px solid #E4E3E3;
	background-color: #F0EEEE;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.descripcion{
	color: black;
	font-weight: 600;
}

.titulo{
	color: white;
	font-weight: 700;
}

#boxDescription{
	margin-top: 2%;
}
