a.store:hover, a.store:visited, a.store:link, a.store:active
{
    text-decoration: none;
    color: white;
}

.btn-default{
	padding: 9px 12px;
}

.btnDelete {
	display: inline;
	padding: 5px 11px;
}

.btn-danger span{
	display: inline;
}


/* Menu lateral */
.sidebar-wrapper {
	z-index: 1;
	position: absolute;
	width: 0;
	height: 100%;
	overflow-y: hidden;
	background: #2A3B4C;
	opacity: 0.9;
	transition : 0.7s;
}

/* Contenido principal */
.page-content-wrapper{
	width: 100%;
	padding: 15px;
	transition : 0.7s;
}

/* cambio de tamaño del menu lateral, con el fin de ver sus opciones */
.wrapper.menuDisplayed .sidebar-wrapper{
	transition : 0.7s;
	width: 250px;
}

.wrapper.menuDisplayed .page-content-wrapper{
	transition : 0.7s;
	padding-left: 250px;
}

/* estilo de la lista de opciones perteneciente al menu lateral */
.lista-nav {
	padding: 0;
	list-style: none;
}

.lista-nav li {
	text-indent: 12px;
	line-height: 50px;
	font-size: 16px;
}

.lista-nav li a.store {
	display: inline-block;
	text-decoration: none;
	width: 150px;
}

.lista-nav li:hover {
	background: #282929;
	opacity: 0.8;
	text-indent: 30px;
	font-weight: bold;
}

#newStore{
	text-decoration: none;
	color: white;
}

.containerStore{
	text-indent: 21px;
	border-bottom: 0.5px solid #A8A8A8;
	padding-bottom: 10px;
	width: 100%;	
}
